<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="showSidebar()"><fa-icon [icon]="faBars"></fa-icon></button>
    <div class="logo-text" [ngClass]="!collapsed ? 'logo-text-collapsed' : ''">xablau</div>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link">
        <fa-icon class="sidenav-link-icon" [icon]="data.icon"></fa-icon>
        <span class="sidenav-link-text" *ngIf="collapsed">{{ data.title }}</span>
      </a>
    </li>
  </ul>
</div>
